*{
    font-family: montserrat;
    color: #5F0F40;

}
.logo{
    width: 3%;
}
.span{
    padding-top: 0;
    margin-top:-6vw;
    font-weight: 900;
    font-style: bold;
    font-size: 2vw;
    padding-bottom: 7vw;
    margin-bottom: 4vw;

}
.body{
    text-align: center;
}
.image{
    background-color: rgba(217, 217, 217, 0.64);
    border-radius: 50%;
    padding: 1vw;
}
.text1{
    font-weight: 700;
}
.button{
    color: white;
    padding: 1vw;
    background-color: #5F0F40;
    border: none;
    width: 8.4vw;
    text-align: center;
    border-radius: 8%;
}
.greytext{
    color: 
    #747474;
}
.text2{
    color: 
    #747474;
    padding-bottom: 16px;
}
a{
    text-decoration: none;
}